.essentials {
  &-section {
    position: relative;
    overflow: hidden;
    padding-right: 6.4rem;

    @media (max-width: 500px) {
      padding: 0;
      margin-bottom: 12.8rem;
    }
  }

  &-box {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-columns: repeat(2, 1fr);
    // grid-template-columns: 0.9fr 1fr;
    align-items: center;

    @media (max-width: 950px) {
      grid-template-columns: 0.85fr, 1fr;
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
      row-gap: 9.6rem;
    }
  }

  &-imgbox {
    @media (max-width: 950px) {
      align-self: stretch;
    }
  }

  &-imgbox img {
    width: 100%;

    @media (max-width: 950px) {
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    margin: 0 0 0 19.2rem;
    max-width: 39.1rem;
    // justify-self: center;

    @media (max-width: 1250px) {
      max-width: 90%;
      margin: 0;
      justify-self: right;
    }

    @media (max-width: 950px) {
      padding: 6.4rem 0;
    }

    @media (max-width: 500px) {
      padding: 0;
      justify-self: center;
      max-width: unset;
      padding: 0 3.2rem;
    }
  }
}

@media (max-width: 500px) {
  .essentials-section {
    .section-heading,
    .section-text,
    .an-up {
      text-align: center;
    }

    .section-text {
      max-width: fit-content;
    }
  }
}
