.foundin-section {
  padding: 12.8rem 6.4rem;
  position: relative;
  z-index: -2;
  background-color: $color-bg-light;
}

.logo-container {
  margin-top: 9.6rem;

  // display: grid;
  // grid-template-columns: repeat(6, 1fr);
  // // grid-template-columns: repeat(auto-fit, minmax(14.5rem, 1fr));
  // align-items: center;
  // justify-items: center;
  // row-gap: 9.6rem;

  display: flex;
  flex-wrap: wrap;
  column-gap: 19.2rem;
  row-gap: 9.6rem;
  align-items: center;
  justify-content: space-around;
}

.top {
  grid-column: span 2;
}

.bottom {
  grid-column: span 3;
}

.logo-box {
  text-align: center;

  & img {
    width: 100%;
  }
}
