.foundin-section {
  padding: 12.8rem 6.4rem;
  position: relative;
  z-index: -2;
  background-color: $color-bg-light;
}

.logo-container {
  margin-top: 12.8rem;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  // grid-template-columns: repeat(auto-fit, minmax(14.5rem, 1fr));
  align-items: center;
  justify-items: center;
  row-gap: 12.8rem;
}

.top {
  grid-column: span 2;
}

.bottom {
  grid-column: span 3;
}

.logo-box {
  text-align: center;

  & img {
    width: 100%;
  }
}
